.archives-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    overflow: visible;
    transition: all 0.2s ease;
}

.archives-btn:hover {
    letter-spacing: 0.5px;
    transform: translateX(5px);
    color: var(--primary);
    text-decoration: underline;
}

.archives-btn:active {
    transform: translate3d(50px, 0, 50px);
}
