{{- with site.Taxonomies.tags -}}
{{- if gt (len .) 0 -}}
{{- $title := "Tags" -}}
{{- $content := partial "tags_content.html" $ -}}
{{- $icon := `<svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.59 13.41 11 3.83V3H4v7h.83l9.58 9.59a2 2 0 0 0 2.82 0l3.36-3.36a2 2 0 0 0 0-2.82Z"/><circle cx="7.5" cy="6.5" r=".5" fill="currentColor"/></svg>` -}}
{{- partial "floating_panel.html" (dict
    "ID" "tags"
    "Title" $title
    "Label" $title
    "TriggerIcon" $icon
    "Content" $content
    "Class" "tags-panel"
) -}}
{{- end -}}
{{- end -}}
