.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc(var(--gap) + 30px);
}

.page-header h1 {
    font-size: 36px;
}

.page-header {
    padding: 20px 0;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code,
pre {
    font-family: Consolas !important;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: block;
    position: absolute;
    top: 4px;
    right: 8px;
    color: var(--secondary);
    background: none;
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
    opacity: 0;
    transition: all 0.2s ease;
}

div.highlight:hover .copy-code,
pre:hover .copy-code,
.copy-code:focus-visible {
    opacity: 0.5;
}

.copy-code:hover {
    color: var(--tertiary);
}

.copy-code:active {
    transform: scale(0.9);
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: padding-box;
    transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
    border: 3px solid transparent;
    background-clip: padding-box;
    transition: all 0.2s ease;
}
